@import "variables";
@import "mixins";


.whiteBackgroundContent {


  
  .potentialMoney {
    font-weight: 900;
    color: #1ea82e;
    text-align: center;
    font-size: 70px;
    background: white;
    position: relative;
    z-index: 1;
    margin: 0 auto 10px auto;
    display: table;
    padding: 0px 10px;
    
    @media (max-width: 680px) {
      font-size: 40px;
    }
  }
  
  .Indicator {
    text-align:center;
    margin: 25px 0px;
    
    @media (max-width: 680px) {
      margin: 45px 0px;
    }
    
  }
  
  .tierDivider {
    border-bottom: 1px solid #1e5fa8;
  }
  .topDivider {
    position:absolute;
    left:15px; 
    right:15px; 
    top:50%
  }
  
  .potentialDescription {
    float:none;
    display:table-cell;
    vertical-align: middle;
    
    @media (max-width: 767px) {
      display:block;
    }
  }
  
  

}