@import "variables";
@import "mixins";

body {
  background:white !important
}


#FormContent {
  max-width: 640px;
}
.breadCrumbs {
  
  a:link {
    text-decoration:underline
  }
  
  i {
    margin:0 10px;
  }
}

.SectionHeader {
  color: #666;
  font-size: 35px;
  margin: 10px 0px;
  
  @media (max-width: 680px) {
    font-size: 24px;
    margin:20px 0px 10px 0px !important;
  }
  
  
  .icon {
    float:left;
    width:69px;
    margin-right: 15px;
    margin-top: -4px;
    
    @media (max-width: 680px) {
      width: 100%;
      float:none;
      text-align:center;
      margin-top:0px;
      margin-right: 0px;
      margin-bottom:10px;
    }
    
    
    img {
      width:100%;
      
      @media (max-width: 680px) {
        width:40px;
      }
    }
    
    
    
    
  }
}

.EarningsList {
  
  .ListContent {
    margin-left:85px;  
    
    @media (max-width: 680px) {
      margin-left:0px;
    }
    
  }
  
  
  
  .GrandTotalLine {
    clear:both;
    width:100%;
    
    .label {
      float: right;
      color: #666;
      display: block;
      font-size: 20px;
      margin-top: 18px;
      
      @media (max-width: 680px) {
        font-size: 16px;
        margin-top: 14px;
      }
      
      
    }
    .grandTotalNumber {
      float:right;
      font-weight: bold;
      font-size: 35px;
      
      @media (max-width: 680px) {
        font-size: 28px;
      }
      
      
      
    }
  }
  
  .EarningLine {
    position:relative;
    margin-bottom: 10px;
    
    .referralName {
      float:left;
      font-size:20px;
      background:white;
      position: relative;
      z-index: 1;
      padding-right: 10px;
      
      @media (max-width: 680px) {
        font-size:16px;
      }
      
    }
    
    .Amount {
      float:right;
      font-size:20px;
      font-weight:bold;
      background:white;
      position: relative;
      z-index: 1;
      padding-left: 10px;
      
      @media (max-width: 680px) {
        font-size:16px;
      }
      
    }
    
    .divider {
      position: absolute;
      left: 0px;
      right: 0px;
      border-bottom: 1px dotted #dbdbdb;
      top: 23px;
      
      @media (max-width: 680px) {
        top: 18px;
      }
      
    }
  }
}



.ActiveList, .InactiveList {
  
  .ListContent {
    margin-left:85px;  
    
    @media (max-width: 680px) {
      margin-left:0px;
    }
    
  }
  
  
  
  @media (max-width: 680px) {
    margin-left:0px;
    font-size:16px;
  }
  
  
  a:link {
    font-size:20px;
    
    @media (max-width: 680px) {
      font-size:16px;
    }
    
  }  
  .bullet {
    margin:0px 10px;
  
  &:first-child {
    display:none;
  }
  
  }
}


.clubIDText {
  font-size: 35px;
  @media (max-width: 680px) {
    font-size: 24px;
  }
}
.dashboardDivider {
  margin: 40px 0px;
}

.loginButton, .forgotCredentialsLink {
  float:left;
  
  @media (max-width: 680px) {
    float:none;
    width:100%
  }
  
}
.forgotCredentialsLink {
  margin-left:20px; margin-top:13px;
  
  @media (max-width: 680px) {
    margin-left:0px;
    text-align:center;
  }
  
}

#RulesRegulationsText, #TierList {
  display:none;
}



