@import "variables";
@import "mixins";





.formSubHeader {
  font-size:30px;
  font-weight:bold;
  margin: 25px 0px;
}
.storeDropDownArrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #000;
    float: left;
    margin-top: 25px;
    margin-left: 13px;
}




#ThankYouClubContent {
  display:none;
}

.WhitePopupForm {
  background: white;
  position: fixed;
  top: 50%;
  z-index: 1000;
  left: 50%;
  @include border-radius(6px);
  width:600px;
  margin-left: -300px;
  margin-top: -277px;
  display:none;
  
  @media screen and (max-width: 992px) {
    left: 25px;
    margin-left: 0px;
    width:auto;
    right: 25px;
    top: 25px;
    margin-top: 0px;
    bottom:25px;
  }
  
  .header {
    @media screen and (max-width: 992px) {
      font-size:24px
    }
  }
  
  .Content {
    padding:15px 15px 0px 15px;
    overflow-y: scroll;
    height: 400px;
    
    @media screen and (max-width: 992px) {
      height: auto;
      position: absolute;
      bottom: 73px;
      top: 65px;
    }
    
  }
  
  .ConditionButtonHolder {
    border-top: 1px solid #e2e2e2;
    padding:15px;
    
    @media screen and (max-width: 992px) {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;      
    }
    

    
    .disabled {
      @include opacity(.25);
      
      &:hover {
        background: $blue !important;
      }
    }
    .agreeBtn {
      float: right;
      background: $blue;
      padding: 10px;
      color: white;
      border-radius: 4px;
      
      &:hover {
        background:$darkBlue
      }
    }
    
  }
  
}
