@import "variables";
@import "mixins";

* {margin:0; padding:0;}

body {
  font-family: "Lato",sans-serif;
  color:black;
  background:#f5f5f5 !important;
  font-size:16px;
}

.push {
  height:130px; 
  
  @media (max-width: 1199px) {
    height: 90px;
  }
  
  @media (max-width: 991px) {
      height: 70px;
  }
  
  @media (max-width: 768px) {
    height: 50px;
  }
  
}

header {
  background:black;
  position:fixed; 
  width:100%;
  z-index: 999;
  
  .referralMainText, .desktopView {
    @media (max-width: 680px) {
      display:none;
    }
  }
  
  .mobileView {
    display:none;
    
    @media (max-width: 680px) {
      display:block;
    }
    
    .menu {
      background: #676767;
      position: fixed;
      top: 60px;
      right: 30px;
      display:none;
      
      .blackMenuItem {
        color:white;
        text-decoration:none;
        
        &:hover {
          background:black;
        }
      }
      
      .blueMenuItem {
        background:$blue;
        color:white;
        text-decoration:none;
        
         &:hover {
          background:$darkBlue !important;
        }
        
      }
      
      .item {
        padding:10px;
        border-bottom:1px solid white;
        
        .icon {
          float:left;
          padding: 5px;
        } 
        .text {
          float:left;
          padding: 5px;
        }
        
      }
    }
    
    
  }
  
  
  
  #logoPlacement {
    
    img {
      width:240px  
    }
    
  }
  
  .headerBlueBtn {
      background:$blue;
      margin-left:10px;
      position:relative;
      
      &:hover .toolTip {
        display:block
      }
      
      .toolTip {
        background: #676767;
        position: absolute;
        padding: 10px;
        z-index: 1;
        font-size: 14px;
        right: 0px;
        top: 40px;
        display:none;
        
      }
      
      &:hover {
        background:$darkBlue !important;
      }
    }
  
  #rightMenuContent {
    float:right;
    
  }
}

header#MembershipLogin {
  color:white;
  padding:20px 0px;
  
  #memberLoginText {
    font-size:20px;
  }
  
  .btn {
    border:1px solid white;
    color:white;
    
    &:hover {
      background: #676767;
    }
  }
  
}

.SidDillonReferralBackground {
  background: url("../images/video-fallback-background.jpg");
  background-color: transparent;
  background-size: cover;
  background-position-y: 50%;
  background-repeat: no-repeat;
  color:white;
  text-align:center;
  padding:200px 10px;
  
  @media (max-width: 991px) {
    padding:100px 10px;
  }
  
  @media (max-width: 768px) {
    padding:40px 10px;
  }
    
  .ReferralClubHeader {
    font-size:80px;
    line-height: 80px;
    
    @media (max-width: 991px) {
      font-size:40px;
      line-height: 40px;
    }
    
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 25px;
    }
    
  }
    
  .subHeader {
    font-size: 30px;
    font-weight: 100;
    
    @media (max-width: 991px) {
      font-size:20px;
    }
    
    @media (max-width: 768px) {
      font-size:16px;
    }
  }
    
}
.storeSelectRow {
  padding: 25px 0;
  background: #1e5fa8;
  color: #fff;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
}

.MainMenu {
  margin: 20px 0px;
  
  .MobileMenu {
    display:none;
    position:relative;
    
    @media (max-width: 991px) {
      display:block;

    }  
  }
  
  
  
  ul {
    margin-bottom:0px;
    
    @media (max-width: 991px) {
      display:none;
      background:white;
      position: absolute;
      top: 48px;
      z-index: 9;
      box-shadow: 0px 5px 3px #b3b3b3;
      left: 15px;
      right: 15px;
      @include border-radius(5px);
      overflow: hidden;
    } 
    
    
    li {
      display:inline-block;
      list-style-type:none;
      padding:10px;
      color: #1e5fa8;
      margin-right: 3px;
      background:white;
      @include border-radius(3px);
      transition: box-shadow 0.5s ease-in-out;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37),0 2px 10px 0 rgba(0,0,0,0.12);
      
      &:hover {
        box-shadow: 0 3px 7px 0 rgba(0,0,0,0.37),0 4px 15px 0 rgba(0,0,0,0.15);
      }
      
      
      
      @media (max-width: 991px) {
        border-bottom: 1px solid #d8d8d8;
        display:block;
        font-size: 20px;
        margin-right: 0px;
        padding: 15px 10px;
        box-shadow: none;
        @include border-radius(0px);
      }
    }
  }
}

.buttonContainer {
  display:table; 
  margin:0 auto;
  
  @media (max-width: 992px) {
    display: block;
  }
}


.middleBlueButton {
  margin:0px 20px;
  
  @media (max-width: 992px) {
    margin:20px 0px;
  }
}

.blueButton {
  background: $blue;
  float: left;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
  width: 260px;
  @include border-radius(10px);
  
  &:hover {
    background:$darkBlue;
  }
  
  @media (max-width: 992px) {
    width:100%;
    float: none;
  }
  
}


.LoadingReferral, .LoadingRegistration {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  display:none;
}


.whiteBackgroundContent {
  background:white; padding:30px 0px;
  
  .TitleHeader {
    font-weight: 900;
    color: #1e5fa8;
    font-size: 70px;
    
    @media (max-width: 680px) {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 20px;
    }
  }
  
  #validationSummaryMessageElement {
    display:none;
  }
  
  .sectionHeader {
    color:#666;
    font-size:35px;
    
    @media (max-width: 680px) {
      font-size: 24px;
    }
    
  }
  
  .rowSpacing {
    margin:20px -15px;
  }

  .errorMessage {
    color:#a81e28;
    margin-left:5px;
  }
  

  

}

  .Content {
    
    
    .rule {
      margin-bottom:25px;
      
      ul {
        margin-left: 20px;
      }
      
      .number {
        font-size: 18px;
        margin-bottom: 5px;
        color: #cacaca;
      }
    }
  }


  table.tierTable {
    border-collapse:collapse;
    width:100%;
    
    td {
      position:relative;
      
      .divider {
        position:absolute;
        left:0px;
        right:0px;
        border-bottom:1px dotted #dbdbdb;  
        top: 20px;
        
        @media (max-width: 680px) {
          top: 16px;
        }  
      }
      
      .tierText {
        color:#666
      }
      
      .content {
        margin-bottom: -7px;
        background: white;
        z-index: 1;
        position: relative;
        line-height:22px;
        font-size:20px;
        padding-bottom: 20px;
        
        @media (max-width: 680px) {
          font-size: 16px;
        }
        
      }
    }
    
    .price {
      color:#1e5fa8;
      text-align:right;
      font-weight: 900;
    }
  }


.DropDown {
  border:none;
  cursor:pointer;
  color:#666;
  font-size:35px;
  
  @media (max-width: 680px) {
    font-size: 24px;
  }
  
  &:focus {
    outline:none;
  }
}

.iconSeparator {
  @media (max-width: 680px) {
    text-align:center;
  }
}

#footer {
  background: #111;
  padding: 0;
  color: #fff;
  font-size: 14px;
  font-family: "Lato",sans-serif;
  margin-bottom:0px !important;
    
  .footer-left {
    margin: 10px 0 0 0;
    
    @media (max-width: 767px) {
      text-align: center;
    }
      
    img {
      width: 200px;
    }
  }
  
  .footer-right {
    margin: 10px 0 0 0;
    text-align: right;
    
    @media (max-width: 767px) {
      text-align: center;
    }
  }  
    
  #footer-top {
    padding: 15px 0;
  }
    
  #footer-bottom {
    padding: 15px 0;
    border-top: 1px solid #333;
  }  
    
  .social {
  
    a {
      text-align: center;
      color: #111;
      height: 40px;
      width: 40px;
      display: inline-block;
      margin: 0 0 0 3px;
        
      i {
        height: 40px;
        width: 40px;
        line-height: 40px;
        position: relative;
        font-size: 24px;
        background-color: #1e5fa8;
        @include border-radius(20px);
        background-clip: padding-box;
        -moz-background-clip: padding;
        -webkit-background-clip: padding;
        border: none;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
          
        &:hover {
          background-color: #fff;
          color: #1e5fa8;
        }
      }    
    }
  } 
}


.container-wide {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.ReferralClubIntro {
  padding:30px 0px
}



.inputLine {
  margin-top: 20px;
  
  .inputLabel {
    color:#b7b7b7  
  }
  
  input[type='text'], input[type='password'] {
    border-bottom:1px solid #cccccc;
    border-left:0px;
    border-right:0px;
    border-top:0px;
    width:100%;
    font-size: 35px;
    color: #000;
    padding-bottom: 7px;
    margin-top: 4px;
    
    @media (max-width: 680px) {
      font-size: 24px;
    }
    
    
    &:focus {
      outline:none;
    }
    
    &:hover,&:focus {
      border-bottom:1px solid #1e5fa8;
    }
  }
}
.breadCrumbs {
  @media (max-width: 680px) {
    margin-bottom:20px;
  }
}

.redButton {
  background: #a81e28;
  color: #fff;
  @include border-radius(7px);
  
  &:hover {
    background: #7d0f17;
  }
  
}
.submitButton {
  border:none;
  padding: 11px 20px;
  font-size:20px;
  
  @media (max-width: 680px) {
    width:100%
  }
  
  
}

.Overlay {
    background: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    @include opacity(.5);
    display: none;
    z-index: 999;
}

.stateDropDown {
  border-left:none;
  border-right:none;
  border-top:none;
  border-bottom: 1px solid #cccccc;
  font-size: 35px;
  color: #000;
  padding-bottom: 7px;
  margin-top: 10px;
  width: 100%;
  
  @media (max-width: 680px) {
    font-size: 24px;
  }
  
  
  &:focus {
    outline:none;
  }
}


.WhitePopupForm {
  background: white;
  position: fixed;
  top: 50%;
  z-index: 1000;
  left: 50%;
  @include border-radius(6px);
  width:600px;
  margin-left: -300px;
  margin-top: -277px;
  display:none;
  
  @media (max-width: 680px) {
    left:0px; 
    right:0px; 
    top:0px; 
    bottom:0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    @include border-radius(0px);
  }
  
  
  .header {
    color: #666;
    font-size: 35px;
    padding: 15px;
    border-bottom: 1px solid #e2e2e2;
  }
  
  .Content {
    padding:15px 15px 0px 15px;
    
    .line {
      font-size:25px;
      margin-bottom: 15px;
      
      .contentLabel {
        font-size:16px;
        color: #cacaca;
      }
    }
    
  }  
}

.errorMesssages {
  display:none; position:relative;
  
  .alert {
    margin-bottom:0px;
  }
  
  
  .loadingIndicator {
    position: absolute;
    left: 0px;
    right: 0px;
    background: white;
    bottom:0px;
    top:0px;
    text-align:center;  
    
    img {
      position:absolute; left:50%; top:50%; margin-left:-16px; margin-top:-16px;
    }
  }
  
  
}

.SidDillonRelationContainer {
  background:#f6f6f6;
  padding: 15px;
  border:1px solid #dcdcdc;
  @include border-radius(5px);
  margin: 0px;
  
  input {
    margin:5px 6px 0px 0px;
        float: left;
  }
      
  
  label {
    margin-bottom:0px;
  } 
}


