@import "variables";
@import "mixins";


.LoadingReferral, #SalesManSelect, #ThankYouReferral {
  display:none;
}

textarea {
  width:100%;
  border: 1px solid #cccccc;
  color:#1e5fa8;
  min-height:200px;
  padding: 7px 10px;
  
  &:focus {
    outline:none;
    border: 1px solid #1e5fa8
  }
}

.dropDownIcon {
  float:left;
  width:49px;
  margin-right: 10px;
  
  @media (max-width: 680px) {
    width:34px;
  }
  
  img {
    width:100%
  }
  
}

#ui-datepicker-div {
 padding:3px !important;
 
 
  .ui-datepicker-header {
    
    .ui-datepicker-prev, .ui-datepicker-next {
      top:-1px !important;
    }
    
    
    .ui-datepicker-prev {
      &:after {
        border-right:none !important
      }   
    }
    
    .ui-datepicker-next {
      &:after {
        border-left:none !important
      } 
    }
    
  }
  
  
 
  .ui-datepicker-calendar {
    border:none !important; 
    text-transform: none !important;
    margin-top:0px !important;
    
    td {
      background:white !important;
    }  
  }
  
  
  
  
}

