.QuestionLine {
  margin-bottom: 25px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 25px; }
  .QuestionLine .question {
    font-weight: bold;
    font-size: 20px; }
  .QuestionLine:last-child {
    margin-bottom: 0px;
    border-bottom: none; }
