body {
  background: white !important; }

#FormContent {
  max-width: 640px; }

.breadCrumbs a:link {
  text-decoration: underline; }
.breadCrumbs i {
  margin: 0 10px; }

.SectionHeader {
  color: #666;
  font-size: 35px;
  margin: 10px 0px; }
  @media (max-width: 680px) {
    .SectionHeader {
      font-size: 24px;
      margin: 20px 0px 10px 0px !important; } }
  .SectionHeader .icon {
    float: left;
    width: 69px;
    margin-right: 15px;
    margin-top: -4px; }
    @media (max-width: 680px) {
      .SectionHeader .icon {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px; } }
    .SectionHeader .icon img {
      width: 100%; }
      @media (max-width: 680px) {
        .SectionHeader .icon img {
          width: 40px; } }

.EarningsList .ListContent {
  margin-left: 85px; }
  @media (max-width: 680px) {
    .EarningsList .ListContent {
      margin-left: 0px; } }
.EarningsList .GrandTotalLine {
  clear: both;
  width: 100%; }
  .EarningsList .GrandTotalLine .label {
    float: right;
    color: #666;
    display: block;
    font-size: 20px;
    margin-top: 18px; }
    @media (max-width: 680px) {
      .EarningsList .GrandTotalLine .label {
        font-size: 16px;
        margin-top: 14px; } }
  .EarningsList .GrandTotalLine .grandTotalNumber {
    float: right;
    font-weight: bold;
    font-size: 35px; }
    @media (max-width: 680px) {
      .EarningsList .GrandTotalLine .grandTotalNumber {
        font-size: 28px; } }
.EarningsList .EarningLine {
  position: relative;
  margin-bottom: 10px; }
  .EarningsList .EarningLine .referralName {
    float: left;
    font-size: 20px;
    background: white;
    position: relative;
    z-index: 1;
    padding-right: 10px; }
    @media (max-width: 680px) {
      .EarningsList .EarningLine .referralName {
        font-size: 16px; } }
  .EarningsList .EarningLine .Amount {
    float: right;
    font-size: 20px;
    font-weight: bold;
    background: white;
    position: relative;
    z-index: 1;
    padding-left: 10px; }
    @media (max-width: 680px) {
      .EarningsList .EarningLine .Amount {
        font-size: 16px; } }
  .EarningsList .EarningLine .divider {
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px dotted #dbdbdb;
    top: 23px; }
    @media (max-width: 680px) {
      .EarningsList .EarningLine .divider {
        top: 18px; } }

.ActiveList .ListContent, .InactiveList .ListContent {
  margin-left: 85px; }
  @media (max-width: 680px) {
    .ActiveList .ListContent, .InactiveList .ListContent {
      margin-left: 0px; } }
@media (max-width: 680px) {
  .ActiveList, .InactiveList {
    margin-left: 0px;
    font-size: 16px; } }
.ActiveList a:link, .InactiveList a:link {
  font-size: 20px; }
  @media (max-width: 680px) {
    .ActiveList a:link, .InactiveList a:link {
      font-size: 16px; } }
.ActiveList .bullet, .InactiveList .bullet {
  margin: 0px 10px; }
  .ActiveList .bullet:first-child, .InactiveList .bullet:first-child {
    display: none; }

.clubIDText {
  font-size: 35px; }
  @media (max-width: 680px) {
    .clubIDText {
      font-size: 24px; } }

.dashboardDivider {
  margin: 40px 0px; }

.loginButton, .forgotCredentialsLink {
  float: left; }
  @media (max-width: 680px) {
    .loginButton, .forgotCredentialsLink {
      float: none;
      width: 100%; } }

.forgotCredentialsLink {
  margin-left: 20px;
  margin-top: 13px; }
  @media (max-width: 680px) {
    .forgotCredentialsLink {
      margin-left: 0px;
      text-align: center; } }

#RulesRegulationsText, #TierList {
  display: none; }
