.formSubHeader {
  font-size: 30px;
  font-weight: bold;
  margin: 25px 0px; }

.storeDropDownArrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #000;
  float: left;
  margin-top: 25px;
  margin-left: 13px; }

#ThankYouClubContent {
  display: none; }

.WhitePopupForm {
  background: white;
  position: fixed;
  top: 50%;
  z-index: 1000;
  left: 50%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 600px;
  margin-left: -300px;
  margin-top: -277px;
  display: none; }
  @media screen and (max-width: 992px) {
    .WhitePopupForm {
      left: 25px;
      margin-left: 0px;
      width: auto;
      right: 25px;
      top: 25px;
      margin-top: 0px;
      bottom: 25px; } }
  @media screen and (max-width: 992px) {
    .WhitePopupForm .header {
      font-size: 24px; } }
  .WhitePopupForm .Content {
    padding: 15px 15px 0px 15px;
    overflow-y: scroll;
    height: 400px; }
    @media screen and (max-width: 992px) {
      .WhitePopupForm .Content {
        height: auto;
        position: absolute;
        bottom: 73px;
        top: 65px; } }
  .WhitePopupForm .ConditionButtonHolder {
    border-top: 1px solid #e2e2e2;
    padding: 15px; }
    @media screen and (max-width: 992px) {
      .WhitePopupForm .ConditionButtonHolder {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px; } }
    .WhitePopupForm .ConditionButtonHolder .disabled {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
      filter: alpha(opacity=25);
      -webkit-opacity: 0.25;
      -moz-opacity: 0.25;
      -khtml-opacity: 0.25;
      opacity: 0.25; }
      .WhitePopupForm .ConditionButtonHolder .disabled:hover {
        background: #1e5fa8 !important; }
    .WhitePopupForm .ConditionButtonHolder .agreeBtn {
      float: right;
      background: #1e5fa8;
      padding: 10px;
      color: white;
      border-radius: 4px; }
      .WhitePopupForm .ConditionButtonHolder .agreeBtn:hover {
        background: #16477d; }
