* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato",sans-serif;
  color: black;
  background: #f5f5f5 !important;
  font-size: 16px; }

.push {
  height: 130px; }
  @media (max-width: 1199px) {
    .push {
      height: 90px; } }
  @media (max-width: 991px) {
    .push {
      height: 70px; } }
  @media (max-width: 768px) {
    .push {
      height: 50px; } }

header {
  background: black;
  position: fixed;
  width: 100%;
  z-index: 999; }
  @media (max-width: 680px) {
    header .referralMainText, header .desktopView {
      display: none; } }
  header .mobileView {
    display: none; }
    @media (max-width: 680px) {
      header .mobileView {
        display: block; } }
    header .mobileView .menu {
      background: #676767;
      position: fixed;
      top: 60px;
      right: 30px;
      display: none; }
      header .mobileView .menu .blackMenuItem {
        color: white;
        text-decoration: none; }
        header .mobileView .menu .blackMenuItem:hover {
          background: black; }
      header .mobileView .menu .blueMenuItem {
        background: #1e5fa8;
        color: white;
        text-decoration: none; }
        header .mobileView .menu .blueMenuItem:hover {
          background: #16477d !important; }
      header .mobileView .menu .item {
        padding: 10px;
        border-bottom: 1px solid white; }
        header .mobileView .menu .item .icon {
          float: left;
          padding: 5px; }
        header .mobileView .menu .item .text {
          float: left;
          padding: 5px; }
  header #logoPlacement img {
    width: 240px; }
  header .headerBlueBtn {
    background: #1e5fa8;
    margin-left: 10px;
    position: relative; }
    header .headerBlueBtn:hover .toolTip {
      display: block; }
    header .headerBlueBtn .toolTip {
      background: #676767;
      position: absolute;
      padding: 10px;
      z-index: 1;
      font-size: 14px;
      right: 0px;
      top: 40px;
      display: none; }
    header .headerBlueBtn:hover {
      background: #16477d !important; }
  header #rightMenuContent {
    float: right; }

header#MembershipLogin {
  color: white;
  padding: 20px 0px; }
  header#MembershipLogin #memberLoginText {
    font-size: 20px; }
  header#MembershipLogin .btn {
    border: 1px solid white;
    color: white; }
    header#MembershipLogin .btn:hover {
      background: #676767; }

.SidDillonReferralBackground {
  background: url("../images/video-fallback-background.jpg");
  background-color: transparent;
  background-size: cover;
  background-position-y: 50%;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 200px 10px; }
  @media (max-width: 991px) {
    .SidDillonReferralBackground {
      padding: 100px 10px; } }
  @media (max-width: 768px) {
    .SidDillonReferralBackground {
      padding: 40px 10px; } }
  .SidDillonReferralBackground .ReferralClubHeader {
    font-size: 80px;
    line-height: 80px; }
    @media (max-width: 991px) {
      .SidDillonReferralBackground .ReferralClubHeader {
        font-size: 40px;
        line-height: 40px; } }
    @media (max-width: 768px) {
      .SidDillonReferralBackground .ReferralClubHeader {
        font-size: 24px;
        line-height: 25px; } }
  .SidDillonReferralBackground .subHeader {
    font-size: 30px;
    font-weight: 100; }
    @media (max-width: 991px) {
      .SidDillonReferralBackground .subHeader {
        font-size: 20px; } }
    @media (max-width: 768px) {
      .SidDillonReferralBackground .subHeader {
        font-size: 16px; } }

.storeSelectRow {
  padding: 25px 0;
  background: #1e5fa8;
  color: #fff;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300; }

.MainMenu {
  margin: 20px 0px; }
  .MainMenu .MobileMenu {
    display: none;
    position: relative; }
    @media (max-width: 991px) {
      .MainMenu .MobileMenu {
        display: block; } }
  .MainMenu ul {
    margin-bottom: 0px; }
    @media (max-width: 991px) {
      .MainMenu ul {
        display: none;
        background: white;
        position: absolute;
        top: 48px;
        z-index: 9;
        box-shadow: 0px 5px 3px #b3b3b3;
        left: 15px;
        right: 15px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        overflow: hidden; } }
    .MainMenu ul li {
      display: inline-block;
      list-style-type: none;
      padding: 10px;
      color: #1e5fa8;
      margin-right: 3px;
      background: white;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      transition: box-shadow 0.5s ease-in-out;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      .MainMenu ul li:hover {
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.37), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
      @media (max-width: 991px) {
        .MainMenu ul li {
          border-bottom: 1px solid #d8d8d8;
          display: block;
          font-size: 20px;
          margin-right: 0px;
          padding: 15px 10px;
          box-shadow: none;
          border-radius: 0px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          -ms-border-radius: 0px;
          -o-border-radius: 0px; } }

.buttonContainer {
  display: table;
  margin: 0 auto; }
  @media (max-width: 992px) {
    .buttonContainer {
      display: block; } }

.middleBlueButton {
  margin: 0px 20px; }
  @media (max-width: 992px) {
    .middleBlueButton {
      margin: 20px 0px; } }

.blueButton {
  background: #1e5fa8;
  float: left;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
  width: 260px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; }
  .blueButton:hover {
    background: #16477d; }
  @media (max-width: 992px) {
    .blueButton {
      width: 100%;
      float: none; } }

.LoadingReferral, .LoadingRegistration {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  display: none; }

.whiteBackgroundContent {
  background: white;
  padding: 30px 0px; }
  .whiteBackgroundContent .TitleHeader {
    font-weight: 900;
    color: #1e5fa8;
    font-size: 70px; }
    @media (max-width: 680px) {
      .whiteBackgroundContent .TitleHeader {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px; } }
  .whiteBackgroundContent #validationSummaryMessageElement {
    display: none; }
  .whiteBackgroundContent .sectionHeader {
    color: #666;
    font-size: 35px; }
    @media (max-width: 680px) {
      .whiteBackgroundContent .sectionHeader {
        font-size: 24px; } }
  .whiteBackgroundContent .rowSpacing {
    margin: 20px -15px; }
  .whiteBackgroundContent .errorMessage {
    color: #a81e28;
    margin-left: 5px; }

.Content .rule {
  margin-bottom: 25px; }
  .Content .rule ul {
    margin-left: 20px; }
  .Content .rule .number {
    font-size: 18px;
    margin-bottom: 5px;
    color: #cacaca; }

table.tierTable {
  border-collapse: collapse;
  width: 100%; }
  table.tierTable td {
    position: relative; }
    table.tierTable td .divider {
      position: absolute;
      left: 0px;
      right: 0px;
      border-bottom: 1px dotted #dbdbdb;
      top: 20px; }
      @media (max-width: 680px) {
        table.tierTable td .divider {
          top: 16px; } }
    table.tierTable td .tierText {
      color: #666; }
    table.tierTable td .content {
      margin-bottom: -7px;
      background: white;
      z-index: 1;
      position: relative;
      line-height: 22px;
      font-size: 20px;
      padding-bottom: 20px; }
      @media (max-width: 680px) {
        table.tierTable td .content {
          font-size: 16px; } }
  table.tierTable .price {
    color: #1e5fa8;
    text-align: right;
    font-weight: 900; }

.DropDown {
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 35px; }
  @media (max-width: 680px) {
    .DropDown {
      font-size: 24px; } }
  .DropDown:focus {
    outline: none; }

@media (max-width: 680px) {
  .iconSeparator {
    text-align: center; } }

#footer {
  background: #111;
  padding: 0;
  color: #fff;
  font-size: 14px;
  font-family: "Lato",sans-serif;
  margin-bottom: 0px !important; }
  #footer .footer-left {
    margin: 10px 0 0 0; }
    @media (max-width: 767px) {
      #footer .footer-left {
        text-align: center; } }
    #footer .footer-left img {
      width: 200px; }
  #footer .footer-right {
    margin: 10px 0 0 0;
    text-align: right; }
    @media (max-width: 767px) {
      #footer .footer-right {
        text-align: center; } }
  #footer #footer-top {
    padding: 15px 0; }
  #footer #footer-bottom {
    padding: 15px 0;
    border-top: 1px solid #333; }
  #footer .social a {
    text-align: center;
    color: #111;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: 0 0 0 3px; }
    #footer .social a i {
      height: 40px;
      width: 40px;
      line-height: 40px;
      position: relative;
      font-size: 24px;
      background-color: #1e5fa8;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      background-clip: padding-box;
      -moz-background-clip: padding;
      -webkit-background-clip: padding;
      border: none;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      #footer .social a i:hover {
        background-color: #fff;
        color: #1e5fa8; }

.container-wide {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.ReferralClubIntro {
  padding: 30px 0px; }

.inputLine {
  margin-top: 20px; }
  .inputLine .inputLabel {
    color: #b7b7b7; }
  .inputLine input[type='text'], .inputLine input[type='password'] {
    border-bottom: 1px solid #cccccc;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    width: 100%;
    font-size: 35px;
    color: #000;
    padding-bottom: 7px;
    margin-top: 4px; }
    @media (max-width: 680px) {
      .inputLine input[type='text'], .inputLine input[type='password'] {
        font-size: 24px; } }
    .inputLine input[type='text']:focus, .inputLine input[type='password']:focus {
      outline: none; }
    .inputLine input[type='text']:hover, .inputLine input[type='text']:focus, .inputLine input[type='password']:hover, .inputLine input[type='password']:focus {
      border-bottom: 1px solid #1e5fa8; }

@media (max-width: 680px) {
  .breadCrumbs {
    margin-bottom: 20px; } }

.redButton {
  background: #a81e28;
  color: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px; }
  .redButton:hover {
    background: #7d0f17; }

.submitButton {
  border: none;
  padding: 11px 20px;
  font-size: 20px; }
  @media (max-width: 680px) {
    .submitButton {
      width: 100%; } }

.Overlay {
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$alpha*100)";
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  display: none;
  z-index: 999; }

.stateDropDown {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #cccccc;
  font-size: 35px;
  color: #000;
  padding-bottom: 7px;
  margin-top: 10px;
  width: 100%; }
  @media (max-width: 680px) {
    .stateDropDown {
      font-size: 24px; } }
  .stateDropDown:focus {
    outline: none; }

.WhitePopupForm {
  background: white;
  position: fixed;
  top: 50%;
  z-index: 1000;
  left: 50%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 600px;
  margin-left: -300px;
  margin-top: -277px;
  display: none; }
  @media (max-width: 680px) {
    .WhitePopupForm {
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      margin-left: 0px;
      margin-top: 0px;
      width: 100%;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px; } }
  .WhitePopupForm .header {
    color: #666;
    font-size: 35px;
    padding: 15px;
    border-bottom: 1px solid #e2e2e2; }
  .WhitePopupForm .Content {
    padding: 15px 15px 0px 15px; }
    .WhitePopupForm .Content .line {
      font-size: 25px;
      margin-bottom: 15px; }
      .WhitePopupForm .Content .line .contentLabel {
        font-size: 16px;
        color: #cacaca; }

.errorMesssages {
  display: none;
  position: relative; }
  .errorMesssages .alert {
    margin-bottom: 0px; }
  .errorMesssages .loadingIndicator {
    position: absolute;
    left: 0px;
    right: 0px;
    background: white;
    bottom: 0px;
    top: 0px;
    text-align: center; }
    .errorMesssages .loadingIndicator img {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -16px;
      margin-top: -16px; }

.SidDillonRelationContainer {
  background: #f6f6f6;
  padding: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0px; }
  .SidDillonRelationContainer input {
    margin: 5px 6px 0px 0px;
    float: left; }
  .SidDillonRelationContainer label {
    margin-bottom: 0px; }
