.LoadingReferral, #SalesManSelect, #ThankYouReferral {
  display: none; }

textarea {
  width: 100%;
  border: 1px solid #cccccc;
  color: #1e5fa8;
  min-height: 200px;
  padding: 7px 10px; }
  textarea:focus {
    outline: none;
    border: 1px solid #1e5fa8; }

.dropDownIcon {
  float: left;
  width: 49px;
  margin-right: 10px; }
  @media (max-width: 680px) {
    .dropDownIcon {
      width: 34px; } }
  .dropDownIcon img {
    width: 100%; }

#ui-datepicker-div {
  padding: 3px !important; }
  #ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev, #ui-datepicker-div .ui-datepicker-header .ui-datepicker-next {
    top: -1px !important; }
  #ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev:after {
    border-right: none !important; }
  #ui-datepicker-div .ui-datepicker-header .ui-datepicker-next:after {
    border-left: none !important; }
  #ui-datepicker-div .ui-datepicker-calendar {
    border: none !important;
    text-transform: none !important;
    margin-top: 0px !important; }
    #ui-datepicker-div .ui-datepicker-calendar td {
      background: white !important; }
